@keyframes float {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}

.floating-icon {
  animation: float 4s ease-in-out infinite;
  z-index: unset;
}